* {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	box-sizing: border-box;
}

body {
	background-color: #181818;
	color: white;
	margin: 0;
}

.Title {
	text-align: center;
	margin: 2.5vh 0;
}

.TitleText {
	font-size: 5vw;
	color: white;
	margin: 0;
}

.gameboards {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 2vh;
	gap: 5vw;
	justify-content: center;
}

.gameboard.playerBoard {
	display: flex;
	flex-direction: column;
	width: 25vw;
	height: 25vw;
	border: 0.25vw solid rgb(2, 2, 112);
	border-bottom: 0.3vw solid rgb(2, 2, 112);
	position: relative;
}

.gameboard.cpuBoard {
	display: flex;
	flex-direction: column;
	width: 25vw;
	height: 25vw;
	border: 0.25vw solid rgb(112, 2, 2);
	border-bottom: 0.3vw solid rgb(112, 2, 2);
	position: relative;
}

.gameboard .row {
	display: flex;
	height: 4vw;
}

.square {
	width: 10%;
	background-color: #3a3a3a;
	border: 0.1vw solid #202020;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5vw;
}

.shipsRemaining {
	text-align: center;
	margin-top: 5vh;
}

.playerShips,
.cpuShips {
	font-size: 2vw;
	margin: 2vh 0;
}

.fa {
	color: white;
	transition: transform 0.3s ease-in-out;
}

.fa:hover {
	transform: rotate(360deg) scale(1.2);
}

.footer {
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1vw;
	width: 100%;
	height: 10vh;
	font-size: 1.5vw;
	color: white;
}

.legend {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.legend-bottom {
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	gap: 1.9vw;
	margin-left: 1vw;
}

.legend-number {
	width: 10%;
	height: 100%;
}

.legend-left {
	margin-left: -1vw;
	margin-top: 1vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 1.325vw;
}

.legend-right {
	margin-left: -1vw;
	margin-top: 1vw;
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 1.325vw;
}

span {
	color: #6d6d6d;
	font-size: 1vw;
}

.ship {
	border: white 0.1vw solid;
	font-weight: bold;
}
